# We can see the ansible config file at path: /etc/ansible.cfg

[defaults]
host_key_checking=False
inventory = ./inventory
forks = 5
log_path = /var/log/ansible.log

[privilege_escalation]
become=True
become_method=sudo
become_ask_pass=False


# Save and run: 
    ansible-playbook db.yaml 
    => Warning: log file at /var/log/ansible.log is not writeable and we cannot create it, aborting
    => Should: 
        + sudo touch /var/log/ansible.log
        + sudo chown ubuntu.ubuntu /var/log/ansible.log
        + cat /var/log/ansible.log
    => See more log: nsible-playbook db.yaml -vv